body{
    background-color: #bcb5b5;
}

.main{
    margin: 30px;
    background-color: white;
}

.btn-success{
    margin-bottom: 30px;
}

.img-thumbnail {
    width: 40px;
    height: 40px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}